body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  margin-top: 10px;
}
.row {
  row-gap: 20px;
}

p {
  margin: 0 0 5px;
}

h2 {
  margin-bottom: 15px;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
}

@media screen and (max-width: 767px) {
  .card-wrapper {
    flex-direction: row;
    align-items: center;
    max-width: 100%;
  }
}